<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>동물병원/약국 찾기</title>
    <link href='https://fonts.googleapis.com/css?family=Cherry Bomb' rel='stylesheet'>
    <link rel="stylesheet" href="/base.css">
    </link>
    <link rel="stylesheet" href="/crudBoard.css">
    </link>
    <link rel="stylesheet" href="/crudTipsBoard.css">
    </link>
    <link rel="stylesheet" href="/addCrudBoard.css">
    </link>
    <link rel="stylesheet" href="/detailBoard.css">
    </link>
    <script src="https://maps.googleapis.com/maps/api/js?key=KEY&callback=initMap&v=weekly" async defer></script>

    <!--    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgC-vBeTQmBw6UHYxx_FORpx-naCKqWAI&callback=initMap&v=weekly" async defer></script>-->
    <script src="/crudTipsBoard.js"></script>
</head>

<body>
    <header>
        <div id="header-wrapper">
            <h1>
                <a class="logo" href="/" title="PandI">PandI</a>
            </h1>
            <div class="login-wrapper">
                <% if(!un){ %>
                    <a class="signIn" href="/login">로그인</a>
                    <a class="signUp" href="/register">회원가입</a>
                <% } else{ %>
                    <a class="logout"><%= un %> 님 환영합니다!</a>
                    <a class="logout" href="/logout">로그아웃</a>
                <% } %>
            </div>
            <hr>
            <nav class="nav">
                <div id="nav-wrapper">
                    <ul class="menu">
                        <li>
                            <a href="/findHospital">동물병원/약국 찾기</a>
                        </li>
                        <li class="menuBar">|</li>
                        <li>
                            <a href="/findPetPlace">동반장소 찾기</a>
                        </li>
                        <li class="menuBar">|</li>
                        <li>
                            <a href="/crudTipsBoard">정보 공유</a>
                        </li>
                        <li class="menuBar">|</li>
                        <li>
                            <a href="/crudDailyBoard">일상 공유</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main>

        <article class="share">
            <div class="crudBoard">
                    <table>
                        <caption class="boardType">정보 게시판
                            <% if (un == data.userName){ %>
                                <div><button class="btnShellfish"><a href="/deleteDaily/<%= data.id %>">DELETE</a></button></div>
                                <div><button class="btnReptile"><a href="/editDaily/<%= data.id %>">EDIT</a></button></div>
                            <% } %>
                        </caption>
                        <colgroup>
                            <col width="20%">
                            <col width="80%">
                        </colgroup>
                        <tr>
                            <th>
                                <label>제목</label>
                            </th>
                            <td><%= data.title %></td>
                        </tr>
                        <tr>
                            <th>
                                <label>작성일</label>
                            </th>
                            <td><%= data.date %></td>
                        </tr>
                        <tr>
                            <th>
                                <label>글쓴이</label>
                            </th>
                            <td><%= data.userName %></td>
                        </tr>
                        <tr>
                            <th><Label>종류</Label></th>
                            <td><%= data.sort %></td>
                        </tr>
                        <tr>
                            <th><label>팁 사진</label></th>
                            <td class="pimg"><%= data.img %></td>
                        </tr>
                        <tr>
                            <th><label>내용</label></th>
                            <td class="text"><%= data.text %></td>
                        </tr>
                    </table>
                    
        </article>

    </main>
    <footer id="footer">
        <p>
            <a href="/use">[이용약관]</a>
            <a href="/privacy">[개인정보처리방침]</a>
            <br><br>

            [01811] 서울 노원구 공릉로 232 서울과학기술대학교 컴퓨터공학과 미래관 315호 TEL : 02-970-6707 <br>
            Copyright 2021. PandI all rights reserved.<br>
        </p>
    </footer>

</body>

</html>