<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>동물병원/약국 찾기</title>
    <link href='https://fonts.googleapis.com/css?family=Cherry Bomb' rel='stylesheet'>
    <link rel="stylesheet" href="/base.css">
    </link>
    <link rel="stylesheet" href="/crudBoard.css">
    </link>
    <link rel="stylesheet" href="/crudDailyBoard.css">
    </link>
    <link rel="stylesheet" href="/addBoard.css">
    </link>
    <script src="https://maps.googleapis.com/maps/api/js?key=KEY&callback=initMap&v=weekly" async defer></script>

    <!--    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgC-vBeTQmBw6UHYxx_FORpx-naCKqWAI&callback=initMap&v=weekly" async defer></script>-->
    <script src="/crudDailyBoard.js"></script>
</head>

<body>
    <header>
        <div id="header-wrapper">
            <h1>
                <a class="logo" href="/" title="PandI">PandI</a>
            </h1>
            <div class="login-wrapper">
                <% if(!un){ %>
                    <a class="signIn" href="/login">로그인</a>
                    <a class="signUp" href="/register">회원가입</a>
                <% } else{ %>
                    <a class="logout"><%= un %> 님 환영합니다!</a>
                    <a class="logout" href="/logout">로그아웃</a>
                <% } %>
            </div>
            <hr>
            <nav class="nav">
                <div id="nav-wrapper">
                    <ul class="menu">
                        <li>
                            <a href="/findHospital">동물병원/약국 찾기</a>
                        </li>
                        <li class="menuBar">|</li>
                        <li>
                            <a href="/findPetPlace">동반장소 찾기</a>
                        </li>
                        <li class="menuBar">|</li>
                        <li>
                            <a href="/crudTipsBoard">정보 공유</a>
                        </li>
                        <li class="menuBar">|</li>
                        <li>
                            <a href="/crudDailyBoard">일상 공유</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main>

        <article class="share">
            <div class="crudBoard">
                <form method="post" enctype="multipart/form-data">
                    <table>
                        <caption class="boardType">일상 게시판 수정</caption>
                        <tr>
                            <th>
                                <label>제목</label>
                            </th>
                            <td><input type="text" name="title" value="<%= data.title %>"/></td>
                        </tr>
                        <tr>
                            <th>
                                <label>작성일</label>
                            </th>
                            <td><%= data.date %></td>
                        </tr>
                        <tr>
                            <th><Label>종류</Label></th>
                            <td><select name="sort" id="petSort">
                                <% if(data.sort == "mammal"){ %>
                                    <option value="mammal" selected>포유류</option>
                                <% }else{ %>
                                    <option value="mammal">포유류</option>
                                <% } %>

                                <% if(data.sort == "bird") { %>
                                    <option value="bird" selected>조류</option>
                                <% } else { %>
                                    <option value="bird">조류</option>
                                <% } %>

                                <% if(data.sort == "fish") { %>
                                    <option value="fish" selected>어류</option>
                                <% } else { %>
                                    <option value="fish">어류</option>
                                <% } %>

                                <% if(data.sort == "reptile") { %>
                                    <option value="reptile" selected>파충류</option>
                                <% } else { %>
                                    <option value="reptile">파충류</option>
                                <% } %>

                                <% if(data.sort == "shellfish") { %>
                                    <option value="shellfish">갑각류</option>
                                <% } else { %>
                                    <option value="shellfish">갑각류</option>
                                <% } %>
                            </select></td>
                        </tr>
                        <tr>
                            <th><label>펫 사진</label></th>
                            <td><input type="file" multiple name="dimg" multiple id="dimg" accept="image/*"></td>
                        </tr>
                        <tr>
                            <th><label>글쓰기</label></td>
                            <td><textarea type="text" id="review" rows="5" cols="30" maxlength="1000" name="text"><%= data.text %></textarea></td>
                        </tr>
                    </table>
                    <input type="submit" value="수정하기"/>
                </form>
        </article>

    </main>
    <footer id="footer">
        <p>
            <a href="/use">[이용약관]</a>
            <a href="/privacy">[개인정보처리방침]</a>
            <br><br>

            [01811] 서울 노원구 공릉로 232 서울과학기술대학교 컴퓨터공학과 미래관 315호 TEL : 02-970-6707 <br>
            Copyright 2021. PandI all rights reserved.<br>
        </p>
    </footer>

</body>

</html>