<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>동물병원/약국 찾기</title>
    <link href='https://fonts.googleapis.com/css?family=Cherry Bomb' rel='stylesheet'>
    <link rel="stylesheet" href="/base.css"></link>
    <link rel="stylesheet" href="/findPlace.css"></link>
    <link rel="stylesheet" href="/findHospital.css">
    </link>
    <script src="https://maps.googleapis.com/maps/api/js?key=KEY&callback=initMap&v=weekly" async defer></script>

<!--    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgC-vBeTQmBw6UHYxx_FORpx-naCKqWAI&callback=initMap&v=weekly" async defer></script>-->
    <script src="/findPlace.js"></script>

    <script src="/findHospital.js"></script>
</head>

<body>
    <header>
        <div id="header-wrapper">
            <h1>
                <a class="logo" href="/" title="PandI">PandI</a>
            </h1>
            <div class="login-wrapper">
                <a class="signIn" href="/login">로그인</a>
                <a class="signUp" href="/register">회원가입</a>
            </div>
            <hr>
            <nav class="nav">
                <div id="nav-wrapper">
                    <ul class="menu">
                        <li>
                            <a href="/findHospital">동물병원/약국 찾기</a>
                        </li>
                        <li class="menuBar">|</li>
                        <li>
                            <a href="/findPetPlace">동반장소 찾기</a>
                        </li>
                        <li class="menuBar">|</li>
                        <li>
                            <a href="/crudTipsBoard">정보 공유</a>
                        </li>
                        <li class="menuBar">|</li>
                        <li>
                            <a href="/crudDailyBoard">일상 공유</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main>
        
        <article class="findLocation">
            <form class="searchForm">
                <div class="searchText">내 주변 동물병원/약국 찾기</div>
                <input class="search" type="text" class="search" name="hospital" maxlength="255" value="">
                <button type="submit" class="btnSearch" value=""></button>
            </form>
            <div id="map"></div>
            
            <!-- Async script executes immediately and must be after any DOM elements used in callback. -->

            <div class="locationList">
                <table class="locationTable">
                    <caption class="hospitalType">동물병원</caption>
                    <tr>
                        <th class="hospitalName">oo동물병원</th>
                        <th>xx km</th>
                        <th>09:00~19:00</th>
                        <th>주말, 심야 운영</th>
                        <th><button class="btnDetail">자세히</button></th>
                    </tr>
                    <tr>
                        <th class="hospitalName">oo동물병원</th>
                        <th>xx km</th>
                        <th>09:00~19:00</th>
                        <th>주말, 심야 운영</th>
                        <th><button class="btnDetail">자세히</button></th>
                    </tr>
                    <tr>
                        <th class="hospitalName">oo동물병원</th>
                        <th>xx km</th>
                        <th>09:00~19:00</th>
                        <th>주말, 심야 운영</th>
                        <th><button class="btnDetail">자세히</button></th>
                    </tr>
                    <tr>
                        <th class="hospitalName">oo동물병원</th>
                        <th>xx km</th>
                        <th>09:00~19:00</th>
                        <th>주말, 심야 운영</th>
                        <th><button class="btnDetail">자세히</button></th>
                    </tr>
                    <tr>
                        <th class="hospitalName">oo동물병원</th>
                        <th>xx km</th>
                        <th>09:00~19:00</th>
                        <th>주말, 심야 운영</th>
                        <th><button class="btnDetail">자세히</button></th>
                    </tr>
                </table>

                <table class="locationTable">
                    <caption class="pharmacyType">약국</caption>
                    <tr>
                        <th class="pharmacyName">ㅇㅇ 약국</th>
                        <th>xx km</th>
                        <th>09:00~19:00</th>
                        <th>주말, 심야 운영</th>
                        <th><button class="btnDetail">자세히</button></th>
                    </tr>
                    <tr>
                        <th class="pharmacyName">ㅇㅇ 약국</th>
                        <th>xx km</th>
                        <th>09:00~19:00</th>
                        <th>주말, 심야 운영</th>
                        <th><button class="btnDetail">자세히</button></th>
                    </tr>
                    <tr>
                        <th class="pharmacyName">ㅇㅇ 약국</th>
                        <th>xx km</th>
                        <th>09:00~19:00</th>
                        <th>주말, 심야 운영</th>
                        <th><button class="btnDetail">자세히</button></th>
                    </tr>
                    <tr>
                        <th class="pharmacyName">ㅇㅇ 약국</th>
                        <th>xx km</th>
                        <th>09:00~19:00</th>
                        <th>주말, 심야 운영</th>
                        <th><button class="btnDetail">자세히</button></th>
                    </tr>
                    <tr>
                        <th class="pharmacyName">ㅇㅇ 약국</th>
                        <th>xx km</th>
                        <th>09:00~19:00</th>
                        <th>주말, 심야 운영</th>
                        <th><button class="btnDetail">자세히</button></th>
                    </tr>
                </table>
            
            </div>

        </article>

    </main>
    <footer id="footer">
        <p>
            <a href="/use">[이용약관]</a>
            <a href="/privacy">[개인정보처리방침]</a>
            <br><br>

            [01811] 서울 노원구 공릉로 232 서울과학기술대학교 컴퓨터공학과 미래관 315호 TEL : 02-970-6707 <br>
            Copyright 2021. PandI all rights reserved.<br>
        </p>
    </footer>

</body>

</html>