<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>회원가입</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link
            href='https://fonts.googleapis.com/css?family=Cherry Bomb'
            rel='stylesheet'>
        <link rel="stylesheet" href="/base.css"></link>

        <link rel="stylesheet" href="/signUp.css"></link>
        <script src="/signUp.js"></script>
    </head>

    <body>
        <header>
            <div id="header-wrapper">
                <h1>
                    <a class="logo" href="/" title="PandI">PandI</a>
                </h1>
                <div class="login-wrapper">
                    <a class="signIn" href="/login">로그인</a>
                    <a class="signUp" href="/register">회원가입</a>
                </div>
                <hr>
                <nav class="nav">
                    <div id="nav-wrapper">
                        <ul class="menu">
                            <li>
                                <a href="/findHospital">동물병원/약국 찾기</a>
                            </li>
                            <li class="menuBar">|</li>
                            <li>
                                <a href="/findPetPlace">동반장소 찾기</a>
                            </li>
                            <li class="menuBar">|</li>
                            <li>
                                <a href="/crudTipsBoard">정보 공유</a>
                            </li>
                            <li class="menuBar">|</li>
                            <li>
                                <a href="/crudDailyBoard">일상 공유</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>

        <main>
            <h2 class="title">
                회원가입
            </h2>
            <div class="register-form">
                <form action="/register" method="POST">
                    <input type="text" name="username" placeholder="Username" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <input type="password" name="password2" placeholder="Password Check" required>
                    <input type="email" name="email" placeholder="email" required>
<!--                     
                        <input type="text" id="sample4_postcode" name='postcode' placeholder="우편번호">
                        <input type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기"><br>
                        <input type="text" id="sample4_roadAddress" name='road' placeholder="도로명주소">
                        <input type="text" id="sample4_jibunAddress" name='jibun' placeholder="지번주소">
                        <span id="guide" style="color:#999;display:none"></span><br>
                        <input type="text" id="sample4_detailAddress" name='detail' placeholder="상세주소">
                        <input type="text" id="sample4_extraAddress" name='extra' placeholder="참고항목">
                 -->
                    
                    <input type="submit" value="Register">
                </form>
                <p>
                <a href="/"><button>Goto Login</button></a>
                <p>
                <a href="/"><button>For Guest Only</button></a>
            </div>

        </main>
        <footer id="footer">
            <p>
                <a href="/use">[이용약관]</a>
                <a href="/privacy">[개인정보처리방침]</a>
                <br><br>

                [01811] 서울 노원구 공릉로 232 서울과학기술대학교 컴퓨터공학과 미래관 315호 TEL : 02-970-6707
                <br>
                Copyright 2021. PandI all rights reserved.<br>
            </p>
        </footer>

    </body>

</html>