
main {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}

.share{
    position: relative;
    width: 100%;
    margin: 50px 0px;
}
.crudboard {
    width: 100%;
    height: 100%;
    justify-content: center;
    padding: 50px;
}
caption {
    margin: 10px 0;
    text-align: start;
    font-size: 1.5em;
    font-weight: 900;
    color: #3E3E3E;

}

.boardTable {
    margin: 15px auto;
    width: 70%;
    height: 100%;
    border-collapse: collapse;
    border-top: 5px solid #3E3E3E;
    border-bottom: 5px solid #3E3E3E;
}
.boardTable thead tr {
    border-bottom: 2px solid #3E3E3E;
    height: 65px;
}

.boardTable thead th {
    text-align: center;
}
.boardTable tbody tr {
    border-bottom: 1px solid #3E3E3E;
    height: 55px;
}
.boardTable tbody td {
    font-style: normal;
    font-weight:500;
    text-align: center;
}

.event {
    background: #EFE3E3;
}

.center{
    text-align: center;
}
.pagination {
    display: inline-block;
    margin-left: 15%;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: #3E3E3E;
    color: white;
    border-radius: 5px;
  }
  
  .pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
  }

  .btn a{
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: #3E3E3E;
    border-radius: 5px;
    position:relative;
    font-size: 15px;
    float: right;
    margin-right: 15%;
  }

 table tr td a{
    text-decoration: none;
    color: black;
  }

  caption div {
    display: inline-flex;
    justify-content: end;
    float: right;
    margin: 0 3px;
}
.btnMammal {
    width: 65px;
    height: 30px;
    background: #A27D7D;
    border: 5px solid #3E3E3E;
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    cursor: pointer;

}
.btnBird {
    width: 65px;
    height: 30px;
    background: #A66932;
    border: 5px solid #3E3E3E;
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    font-style: normal;
    font-weight: normal;
    text-align: center;

    color: #FFFFFF;
    cursor: pointer;

}
.btnFish {
    width: 65px;
    height: 30px;
    background: #4A597E;
    border: 5px solid #3E3E3E;
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    font-style: normal;
    font-weight: normal;
    text-align: center;

    color: #FFFFFF;
    cursor: pointer;

}
.btnReptile {
    width: 65px;
    height: 30px;
    background: #406533;
    border: 5px solid #3E3E3E;
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;

}
.btnShellfish {
    width: 65px;
    height: 30px;
    background: #9A4444;
    border: 5px solid #3E3E3E;
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    text-align: center;

    color: #FFFFFF;
    cursor: pointer;
}

.boardType button a{
    color: white;
    text-decoration: none;
}