.hotelType {
    text-align: start;
    font-size: 1.5em;
    font-weight: 900;
    color: #9b3030;
}

.pensionType {
    text-align: start;
    font-size: 1.5em;
    font-weight: 900;

}

.funeralType {
    text-align: start;
    font-size: 1.5em;
    font-weight: 900;
    color: #3E3E3E;
}

.cafeType {
    text-align: start;
    font-size: 1.5em;
    font-weight: 900;
    color: #CE6A32;
}

.shopType {
    text-align: start;
    font-size: 1.5em;
    font-weight: 900;
    color: #9332CE;
}

.ETCType {
    text-align: start;
    font-size: 1.5em;
    font-weight: 900;
    color: #2dac3e;
}

.AllType {
    text-align: start;
    font-size: 1.5em;
    font-weight: 900;
    color: #3242ce;
}
