
main {
  position: relative;
  margin: 30px;
}

.circle_number,
.head {
  list-style: none;
}

.Korean {
  list-style: none;
  text-indent: -1.5em;
}

.Korean .dash {
  list-style-type: none;
  text-indent: -0.8em;
}

table {
  width: 100%;
}
table,
td,
th,
tr {
  border: 1px solid black;
  border-collapse: collapse;
  margin: 20px auto;
  text-align: center;
  padding: 5px 0;

}

h2 {
  text-align: center;
  color: #3E3E3E;
}