
main {
    position: relative;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginForm{
  text-align: center;
}

#infoTable{
  width: 50vsh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto auto;
}
#infoTable tr, td{
  padding: 10px;
}

label {
  font-size: medium;
  font-weight: bold;
}

input {
  font-size: medium;
}

.valid {
  font-size: small;
  font-weight: bold;
  padding: 10px;
}

.btn {
  border: 1px solid #3E3E3E;
  background-color:#3E3E3E;
  color: white;
  padding: 10px;
  width: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  border-radius: 10px;

  text-align: center;
}

.title{
  text-align: center;
  color: #3E3E3E;
}